.containers {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.input {
  text-transform: uppercase;
}

header {
  background-color:#09345f;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  float: left;
  color: #fff;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #2c3e50;
}



   /* Estilos CSS para la página */
   .container {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: -700px;
    margin-top: 100px;
  }

  h1 {
    text-align: center;
    color: #1d009f8a;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: #1d009f8a;
    color: #ffffff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #d3d3d3;
  }

  /* Estilos adicionales para el filtro de búsqueda */
  .search-container {
    margin-bottom: 20px;
  }

  .search-container input[type="text"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }

  /* Estilos para el contenedor de la tabla con barra de desplazamiento vertical */
  .table-container {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }