body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    }
    
    .container {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
      }
      
      header {
        background-color: #2c3e50;
        padding: 20px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
      }
      
      header h1 {
        margin: 0;
        font-size: 2.5rem;
        float: left;
        color: #fff;
      }
      
      nav {
        float: right;
      }
      
      nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      nav li {
        display: inline-block;
        margin-left: 20px;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 5px 10px;
        border-radius: 5px;
      }
      
      nav a:hover {
        background-color: #fff;
        color: #2c3e50;
      }
    
    section {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    }
    
    h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2c3e50;
    }
    
    label {
    display: inline-block;
    width: 150px;
    text-align: right;
    }
    
    input[type="text"], input[type="date"], textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    }
    
    textarea {
    resize: none;
    }
    
    input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    }
    
    .btn {
    background-color: #2c3e50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    }
    
    .btn:hover {
    background-color: #fff;
    color: #2c3e50;
    }
    
    .btn.accept {
    background-color: #27ae60;
    }
    
    .btn.reject {
    background-color: #c0392b;
    }
    
    .btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    }
    
    @media screen and (max-width: 600px) {
    nav {
    float: none;
    }nav li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }}


    .container {
      max-width: 960px; /* ajusta el ancho máximo del contenedor según tus necesidades */
      margin: 0 auto; /* centra el contenedor horizontalmente */
      padding: 0 20px; /* agrega un relleno de 20px a ambos lados del contenedor */
    }
    
    section {
      max-width: 800px; /* ajusta el ancho máximo del contenido según tus necesidades */
      margin: 0 auto; /* centra el contenido horizontalmente */
    }