.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.input {
  text-transform: uppercase;
}

header {
  background-color:#c691e9;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  float: left;
  color: #fff;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #2c3e50;
}
     /* Estilos para la pÃ¡gina */
     body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
 /* Estilos para el contenedor de los cards */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Ajustamos la propiedad flex-wrap */
  gap: 20px; /* AÃ±adimos un espacio entre los cards */
}

/* Estilos para las tarjetas */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 96px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 400px; /* Reducimos el ancho máximo del card */
  border: 4px solid Black;
  

}


.title-container {
    background-color: #003366;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
  }
  
  h2 {
    color: white;
    margin: 0;
    text-align: center;
  }

#Solicitud {
  margin-top: 20px;
  float: left;
  margin-left: 96px;
  max-width: 400px; /* Reducimos el ancho máximo del card */
  width: 9cm;
  height: 12.5cm;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  
}


#alumnos-card {
  float: left;
  margin-left: 8px;
  max-width: 400px; /* Reducimos el ancho máximo del card */
  margin-top: 20px;
  width: 9cm;
  height: 12.5cm;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: initial;
  overflow-y: scroll;
  max-height:533px;  
}
#alumno-info-card {
  float: left;
  margin-left: 8px;
  max-width: 400px; /* Reducimos el ancho máximo del card */
  margin-top: 20px;
  margin-right: 96px;
  width: 9cm;
  height: 12.5cm;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}


.card:hover {
  background-color: #c691e9;
  transform: scale(1.1);

}

button {
  background-color: #4CAF50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 5px 10; /* Espacio interno */
  text-align: center; /* Centrado del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Display en lÃ­nea */
  font-size: 16px; /* TamaÃ±o de la fuente */
  margin: 4px 2px; /* Margen exterior */
  cursor: pointer; /* Cambio de cursor al pasar por encima */
}


    body {
      background-image: url("me.jpg");
      background-position: center;
      background-size: cover;
    }
  