 /* Menu superior */
 .container1 {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.input {
  text-transform: uppercase;
}

header {
  background-color:rgba(0, 51, 102, 0.8);
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  float: left;
  color: #fff;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #2c3e50;
}

/* Termina menu superior*/



/* Datos generales */

.card {
  position: relative;
  flex-basis: calc(40% - 1em);
  background-color: #f1f1f1;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 10px solid #99CC33;
  width: 300px;
  display: inline-block;
  margin-right: 13%;
  vertical-align: top;
  margin-top: 100px;
  overflow: auto;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #99CC33;
  transform: scale(1.1);
}

.card:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  margin-bottom: 2em;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  font-size: inherit;
  cursor: pointer; 
  float: right;
  margin-right: 20px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

  .title-container {
    background-color: #003366;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
  }

  h2 {
    color: white;
    margin: 0;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #003366;
    color: white;
    margin-right: 10px;
  }

  button:hover {
    background-color: #005599;
  }

  .button-container {
    margin-top: 20px;
  }




/* menu rectangulos*/
body {
  margin: 50px;
  padding: 100px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.menu {
  width: 25%;
  height: 100%;
  background-color: white;
  color: #fff;
  padding: 20px;
}
.content {
  width: 75%;
  height: 100%;
  padding: 20px;
}
.menu-option {
  margin-top: 20px;
  cursor: pointer;
}
.menu-option:hover {
  color: white;
}
.menu-option.active {
  color: white;
  font-weight: bold;
}

.menu-lateral {
  position: fixed;
  top: 50px; /* espacio superior */
  right: 20px; /* espacio lateral */
}

.menu-option {
  background-color: #99CC33;
  color: black;
  margin-bottom: 10px; /* espacio entre rectángulos */
  padding: 30px; /* tamaño del rectángulo */
  border-radius: 5px;
}

.menu-option a {
  color: black;
  text-decoration: none;
}


/*Termina menu rectangulos */



/* Carrusel galeria*/
.owl-item img {
  width: 45%;
  margin-right: 10px;
  margin-bottom: 10px;
  max-height: 200px;
  object-fit: cover;
  border: 2px solid #003366;
}

.owl-carousel {
  margin-top: 20px;
  }
  
  .owl-item {
  margin: 0 10px;
  display: inline-block;
  width: 48%;
  vertical-align: top;
  }
  
  .owl-item img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border: 2px solid #003366;
  }
  
  .owl-dots {
  text-align: center;
  margin-top: 20px;
  position: relative;
  bottom: -30px;
  }
  
  .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  }
  
  .owl-dot.active {
  background-color: #333;
  }
  
  .btn-container {
  text-align: center;
  margin-top: 20px;
  }
  
  .btn-container button {
  background-color: #003366;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .owl-item.active label {
  background-color: transparent; 
  }
  
  .owl-prev,
  .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  z-index: 1;
  }
  
  .owl-prev {
  left: 0;
  }
  
  .owl-next {
  right: 0;
  }
  
  .owl-carousel .owl-nav button.owl-prev:before,
  .owl-carousel .owl-nav button.owl-next:before {
  font-size: 30px;
  color: #003366;
  }
  
  .owl-carousel .owl-nav button.owl-prev:before {
  content: "<";
  }
  
  .owl-carousel .owl-nav button.owl-next:before {
  content: ">";
  }
  
  .owl-carousel .owl-nav button.owl-prev:focus,
  .owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
  }
  
  .btn-container {
  margin-top: 20px;
  }
  
  .owl-prev:hover,
  .owl-next:hover {
  background-color: rgba(255, 0, 0, 0.8);
  border-color: rgba(255, 0, 0, 0.8);
  }
  
  /* Agregar estas líneas */
  .owl-item label {
  display: block;
  margin-bottom: 10px;
  }
  
  .owl-item input {
  display: block;
  margin: 0 auto;
  }
  





/* */

.navbar-nav .nav-link {
  color: black !important;
  }

  .navbar-brand h2 {
      color: #94C639 !important;;
  }
  .navbar-nav .nav-link {
      color: black !important;;
  }


 
  .btn-container {
    text-align: center;
    margin-top: 20px;
  }

  .btn-container button {
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }

  .owl-prev {
    left: 0;
  }

  owl-next {
  font-size: 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

  .owl-carousel .owl-nav button.owl-prev:before {
    content: "<";
  }

  .owl-carousel .owl-nav button.owl-next:before {
    content: ">";
  }

  .owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
  }

  .owl-dots,
  .btn-container {
    margin-top: -150px;
  }

 

  /* carrusel izquierda*/
   /*Carrusel en la izquierda */
   .grid-x {
    max-width: 800px; /* ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* centra el contenedor horizontalmente */
    text-align: left; /* alinea el contenido a la izquierda */
  }

    /* Tamaño imagenes carrusel*/
    .item img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
  }

  .owl-carousel .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#enviar-documentos {
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}



img {
  max-width: 700px; /* cambia el valor para ajustar el tamaño deseado */
  float: right;
}


.menu-container {
  width: 200px; /* Ancho fijo del menú */
}

.logo {
  max-width: 100%; /* Ajustar el ancho máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  float: right; /* Alinear la imagen a la derecha */
}