/* Estilos menú superior */

.container1 {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.input {
  text-transform: uppercase;
}

header {
  background-color:rgba(0, 51, 102, 0.8);
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  float: left;
  color: #fff;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #2c3e50;
}

/* Termina menu superior*/


/* Estilos galeria */

.container {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 70px;
}

.image-gallery {
display: flex;
justify-content: center;
}

.item {
flex: 1;
margin: 0 10px;
text-align: center;
}

.item img {
max-width: 100%;
max-height: 300px; /* Ajusta la altura máxima según tus preferencias */
object-fit: contain; /* Ajusta el modo de ajuste del objeto según tus preferencias */
}

.btn-container {
display: flex;
justify-content: center;
margin-top: 50px;
}

.btn-container button {
background-color: green;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

.btn-container button:hover {
opacity: 0.8;
}