
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.header {
  background-color: rgba(0, 51, 102, 0.8);
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.user-menu {
  position: relative;
}
.user-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  
}
.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.dropdown-menu li {
  margin-bottom: 10px;
}
.user-icon:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

/*CUADROS*/
/*Termina menu*/  body {
      font-family: Arial, sans-serif;
    }
    
    .container {
      max-width: 600px;
      margin: 150px auto 0; /* Ajuste de margen superior */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
    
    h1 {
      text-align: center;
    }
    
    .download-btn {
      display: block;
      width: 200px;
      margin: 20px auto;
      padding: 10px;
      text-align: center;
      background-color: #14ce1a;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    
    .team-block {
      margin-top: 40px;
      text-align: center;
    }
    
    .team-block label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    .custom-file-input {
      display: inline-block;
      background-color: #14ce1a;
      color: white;
      padding: 8px 12px;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      width: 150px; /* Ancho reducido */
      margin-left: 210px;
    }
    
    .custom-file-input:hover {
      background-color: #45a049;
    }
    
    .custom-file-input:active {
      background-color: #45a049;
    }
    
    .custom-file-input:focus {
      outline: none;
      
    }
    
    .team-block input[type="file"] {
      display: none;
    }
    
    .team-block .file-name {
      margin-top: 10px;
      font-style: italic;
    }
    
    .team-block button {
      padding: 10px 20px;
      background-color: #45a049;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      
    }