
/* Menu superior */

.container1 {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: rgba(0, 51, 102, 0.8);
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.user-menu {
  position: relative;
}

.user-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.user-icon:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  float: left;
  color: #fff;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #2c3e50;
}


  /*CUADROS*/

.teams-block {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .service-card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(245, 236, 236, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
    border: 1px solid #1d009f8a; /* Agregamos el borde */
    margin-top: 80px;
    border: 5px solid #1d009f8a;
    border-radius: 10px;
    border-color: #1d009f8a;
}
  
  .service-card h3 {
    color: #333333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .service-card p {
    margin-bottom: 5px;
  }
  
  .service-card span {
    font-weight: bold;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 768px) {
    .service-card {
      width: 100%;
      margin-right: 0;
    }
  }
  
  /*botooon*/


  .postularme-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d009f8a;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 120px;
    margin-top: 10px;
  }
  
  .postularme-btn:hover {
    background-color: #1d009f8a;
  }
 
  