
header {
  background-color:#c691e9;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  float: right;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  
}

nav a:hover {
  background-color: #fff;
  color: #2c3e50;
}  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Termina menu superior*/


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
  margin-bottom: 20px;
  overflow: auto;
}

.card {
  background-color: #c691e9;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  overflow: visible;
  border: 4px solid Black;
}

.card-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  white-space: normal;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="time"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #003366;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}


body {
  background-image: url("me.jpg");
  background-position: center;
  background-size: cover;
}

